# Copy to terraform.tfvars and fill in your values

log_directory                = "/logs"
project_root                 = "/home/hbnmigration"
sync_interval_minutes        = 1
user_group                   = "hbnmigration"
venv_path                    = "python_jobs/.venv"
